        {% include 'AppBundle:Main:header.html.twig'%}
        <div class="bottom-header-content-page">
            <h2 class="main-heading">{{'footer-third.guidelines'|trans}}</h2>
        </div>
    </header>
    <div class="main">
        <div class="container narrow-container">
            <div class="row">
                 <div class="about-us-block">
                    <div>
                        <p>Les présentes conditions générales d'utilisation régissent les rapports entre :</p>
                        <p>Manavao dont le siège social est au 11 W rue Jean de Mansencal Toulouse, exploitant le site « manavao » accessible via l'adresse <a href="javascript:;">www.manavao.com</a>.</p>
                        <p>D'une part,</p>
                        <p>ET</p>
                        <p>Les utilisateurs du Site Web référencé sous le nom de domaine <a href="javascript:;">www.manavao.com</a>, tels qu'identifiés par eux-mêmes lors de la création de leur compte sur ledit Site, ainsi que les utilisateurs non connectés et non inscrits.</p>
                        <p>D'autre part.</p>
                        <p>Le Site Web Manavao désigné ci-après par le terme "Manavao", vous est proposé sous certaines conditions d'utilisation, définissant l'ensemble des relations entre vous et Manavao. L'inscription au site Manavao est gratuite et sans engagement pour un compte membre.</p>
                        <p>Ces conditions générales d'utilisation sont définies ci-dessous et la simple utilisation et/ou consultation de Manavao implique, de façon automatique et inconditionnelle, votre acceptation pleine et entière de l'ensemble de ces conditions générales d'utilisation.</p>
                    </div>
                    <div>
                        <h2 class="orange">Utilisation du site internet manavao.com</h2>
                        <p>En tant que membre du réseau, vous vous engagez à ne pas, sans que cela soit limitatif :</p>
                        <ul class="list-style">
                            <li>- utiliser le site internet dans un but illégal ou d'une façon susceptible d'encourager, assurer ou effectuer toute activité illicite,</li>
                            <li>- utiliser le site afin de publier, diffuser, transmettre, distribuer ou créer un lien avec tout élément mensonger ou trompeur, discriminatoire, diffamatoire ou contraire aux bonnes moeurs, incitant à la discrimination, à la haine ou à la violence à l'égard d'une personne ou d'un groupe de personnes à raison de leur origine ou de leur appartenance ou non à une ethnie, une nation, une race ou une religion déterminée, ou de leur sexe, de leur orientation sexuelle ou de leur handicap, portant atteinte à la vie privée ou à l'ordre public, violant les dispositions légales relatives à la presse ou à la protection de la ou autrement dommageable à l'égard des tiers,</li>
                            <li>- envoyer des e-mails non sollicités, notamment des promotions ou publicités pour des produits ou services que votre société proposerait,</li>
                            <li>- Accéder ou essayer d'accéder à toute partie du Site Internet à laquelle vous n'êtes pas autorisé à accéder, et vous vous engagez à ne pas violer ou essayer de violer les mesures de sécurité du Site</li>
                        </ul>
                        <p>Manavao se réserve le droit de refuser l'accès aux services, unilatéralement et sans notification préalable, à tout utilisateur ne respectant pas les présentes conditions générales d'utilisation.</p>
                    </div>
                    <div>
                        <h2 class="orange">Propriété intellectuelle</h2>
                        <p>L'utilisation de Manavao ne vous confère aucun droit. La structure générale du réseau social, ainsi que les logiciels, textes, images animées ou non, sons, savoir-faire et tous les autres éléments composant le site sont la propriété exclusive de la société MANAVAO. Toute représentation totale ou partielle de ce site par quelque société que ce soit, sans l'autorisation expresse de l'exploitant du site, est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>
                        <p>En conséquence, vous ne pouvez en aucun cas et d'aucune manière, reproduire, représenter, diffuser, commercialiser, modifier, concéder tout ou partie de l'un quelconque des éléments reproduits sur Manavao et tout ou partie de Manavao en général, sans l'accord préalable et express de Manavao. Toute utilisation illicite de tout ou partie de Manavao (piratage, contrefaçon, etc.) pourra donner lieu à des poursuites. Le contrevenant s'expose à des sanctions civiles et pénales et notamment aux peines prévues aux articles L. 335.2 et L. 343.1 du code de la Propriété Intellectuelle.</p>
                    </div>
                    <div>
                        <h2 class="orange">Garanties</h2>
                        <p>Sous réserve des dispositions réglementaires applicables, vous reconnaissez et acceptez expressément que :</p>
                        <ul class="list-style">
                            <li>- Manavao vous est fourni en l'état, accessible en fonction de sa disponibilité et sans aucune garantie expresse ou implicite de la part de Manavao et que son utilisation se fait à vos risques et périls, sous votre entière responsabilité</li>
                            <li>- Manavao ne garantit pas que les contenus et produits proposés répondront parfaitement à vos attentes, le site sera ininterrompu et dépourvu de toutes erreurs, que ces interruptions ou erreurs seront corrigées, (les contenus publiés ne contiendront aucun virus. Ainsi, tout matériel téléchargé et/ou obtenu, de quelque manière que ce soit lors de l'utilisation du Site l'est à vos risques et périls et Manavao ne sera aucunement responsable des dommages, pertes de données subis par votre ordinateur.</li>
                            <li>- Manavao met en oeuvre tous les moyens raisonnables à sa disposition pour assurer un accès de qualité au Service, mais n'est tenu à aucune obligation d'y parvenir. Manavao ne peut, en outre, être tenu responsable de tout dysfonctionnement du réseau ou des serveurs ou de tout autre événement échappant au contrôle raisonnable, qui empêcherait ou dégraderait l'accès au Service.</li>
                            <li>- Manavao s'engage à prendre toutes les précautions raisonnables afin de sécuriser toutes vos données et en particulier d'en empêcher des tiers non autorisés d'y accéder et afin d'éviter de les altérer ou de les endommager.</li>
                            <li>- Aucun conseil et aucune information, qu'ils soient écrits ou oraux, obtenus par vous de Manavao ou lors de l'utilisation de Manavao ne sont susceptibles de créer une quelconque garantie non expressément prévue aux présentes conditions.</li>
                            <li>- Manavao ne peut garantir que les opportunités proposées via <a href="javascript:;">www.manavao.com</a> seront fructueuses et ne leur apporte aucune qualification particulière</li>
                            <li>- Des contenus postés par nos membres peuvent comporter des liens vers des sites Internet publiés et maintenus par des tierces parties. La société MANAVAO n'est pas responsable de leur contenu, et en conséquence notre responsabilité ne pourra pas être engagée. </li>
                            <li>- Certaines données publiées dans les voisinages d’affaires peuvent être incomplètes, imprécises ou erronées. La société MANAVAO s’engage à les corriger sur simple demande d’un membre à condition que ce dernier apporte la justification.</li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="orange">Limitation de responsabilité</h2>
                        <p>Sous réserve des dispositions légales ou réglementaires applicables, Manavao ne saurait être tenue pour responsable de tout dommage direct ou indirect notamment mais non limitativement pertes de profits, de clientèles, de données, de biens incorporels pouvant intervenir du fait de l'utilisation ou de l'impossibilité d'utilisation du Manavao, et plus généralement de tout événement ayant un lien avec Manavao et/ou tout site tiers. En particulier, la responsabilité de Manavao ne saurait être engagée en cas de piratage total ou partiel du Site et des dommages que ce piratage pourrait entraîner à votre égard ou à l'égard d'un tiers.</p>
                    </div>
                    <div>
                        <h2 class="orange">Loi applicable et juridiction</h2>
                        <p>Toute notification en vertu des présentes conditions et d'utilisation se fera par lettre recommandée avec demande d'avis de réception ou par lettre remise en mains propres et sera réputée reçue lors de la première présentation de celle-ci.</p>
                        <p>Les présentes conditions et d'utilisation sont soumises au droit français et tout litige entre les parties sera soumis exclusivement au Tribunal de Commerce de Toulouse.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'AppBundle:Main:footer.html.twig'%}

<!-- <div id="cropp-img-popup" class="white-popup img-cropp-popup mfp-hide">
    <div id="image-cropp"></div>
    <button id="get-cropp-result">{{'post.save'|trans}}</button>
</div> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        jQuery(document).ready(function($) {
            $(function() {
                  $('a[href*="#"]:not([href="javascript:;"])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                      var target = $(this.hash);
                      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                      if (target.length) {
                        $('html, body').animate({
                          scrollTop: target.offset().top
                        }, 1000);
                        return false;
      }
    }
  });
});
            
        });
    </script>
    <script src="/js/croppie.min.js"></script>
    <script src="/js/magnific.js"></script>
    <script src="/assets/js/custom.js">
                          
                      </script>
    

</body>
</html>
