{% extends "AppBundle:Account:templates/memberList.html.twig" %}

{% block userList %}
<div class="user-list-wrap">
    {% include 'AppBundle:Account:parts/memberListHead.html.twig' with {'user': app.user, 'currentTab': currentTab } %}
    
    {% for item in pagination %}
        {% include 'AppBundle:Account:parts/userListItem.html.twig' with {'user': item }%}
    {% endfor %}
    
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock userList %}